# Node modules
node_modules/
**/node_modules/

# Build output
client/dist/
dist/

# Logs
*.log

# VS Code
.vscode/

# Backup folder
backups/

# SQLite Database
server/database/*.db
server/database/*.db-shm
server/database/*.db-wal
server/database/*.sqbpro

# Environment files
.env
server/.env
client/.env